

/*--CSS RESET--*/

*{
    border: none;
    margin:0;
    padding: 0;
}

#main-logo{
    width: 200px;
    padding: 10px 0 10px 10px;
}

header{
    background-color:#f5f4f4;
    position: sticky;
    top: 0;
    display: flex;
}

.hidden{
    display: none;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    color: rgb(0, 0, 0); 
    background-color: rgba(0, 0, 0, 0.64);
    background-image: url(../images/to_do.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

main{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.to-do_lists{
    background-color: #ffffff;
    padding: 50px 0 50px 0;
}



Header > H1{

    text-align: center;
    padding: 15px 0 0 5px;
}
Header > H2{

    text-align: center;
    padding: 15px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}


article {
    width: 400px;
    border: 4px solid white;
    border-radius: 8px;
    margin: 30px 12px;
    text-align: left;

}

article > h2{
    color: rgb(0, 0, 0);
    padding: 4px 8px;
}

article:first-of-type{
    border: 2px solid rgb(0, 0, 0);
}

#inprogress {
    border: 2px solid #024f90;
}

#inprogress h2{
     color: #024f90;
     text-align: center;
}


#to__do {
    border: 2px solid rgb(8, 8, 8);
}

#to__do h2{
     color: rgb(2, 2, 2);
     text-align: center;
}


#done{
    border: 2px solid green;
}

#done h2{
    color: green;
    text-align: center;
}

ul{
    list-style-type: none;

}
ul li{
    padding: 10px 10px;
    text-transform: uppercase;
    padding: 10px 10px 10px 10px;
    
}

.to-do li:nth-child(odd){
    background-color: rgba(0, 0, 0, 0.2);
}


.progress li:nth-child(odd){
    background-color: rgba(0, 30, 255, 0.2);
}

.fin li:nth-child(odd){
    background-color: rgba(3, 136, 36, 0.2);
}

input[type="checkbox"]{
    width: 1.5em;
    height: 1.5em;
    background-color: white;
    border: 0px solid grey;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 100px;
    float: right;
}
    

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}


.custom_align{
    margin-left: 300px;

}

.checkbox-item {
    position: relative;
}

input[type="checkbox"]:checked + span::after {
    content: '\❤️';
    color: #ffffff;
    width: 10px;
    height: 10px;
    top: 0px;
    margin-right: 10px;
    font-size: 10px;
    animation: fadeIn 0.7s;
    float: right;
}


footer {
    color: #000000;
    padding: 20px 0;
    text-align: center;

}

.sticky_footer{
    position: sticky;
    margin-top:24%;
    height: 80px;
    background-color: #f5f4f4;
}



